<nav class="pagination">
  <div class="inner">
    <div class="box pagination-box" role="navigation" aria-label="Pagination Navigation">
      {{#if prev}}
      <a title="{{t "Previous"}}" href="{{page_url prev}}">
        {{> "icons/long-arrow-alt-left"}}
      </a>
      {{/if}}
      <span class="pagination-info">{{t "{page}/{pages}" page=page pages=pages}}</span>
      {{#if next}}
      <a title="{{t "Next"}}" href="{{page_url next}}">
        {{> "icons/long-arrow-alt-right"}}
      </a>
      {{/if}}
    </div>
  </div>
</nav>